### Practice with aggregate functions
Now let's try extracting summary information from a table using these new aggregate functions. Summarizing is helpful in real life when extracting top-line details from your dataset. Perhaps you'd like to know how old the oldest film in the films table is, what the most expensive film is, or how many films you have listed.

Now it's your turn to get more insights about the films table!

Use the SUM() function to calculate the total duration of all films and alias with total_duration.

In [ ]:
SELECT SUM(duration) AS total_duration
FROM films;

Calculate the average duration of all films and alias with average_duration.

In [ ]:
SELECT AVG(duration) AS average_duration
FROM films;

Find the most recent release_year in the films table, aliasing as latest_year.

In [ ]:
SELECT MAX(release_year) AS latest_year
FROM films;

Find the duration of the shortest film and use the alias shortest_film.

In [ ]:
SELECT MIN(duration) AS shortest_film
FROM films;

### Combining aggregate functions with WHERE
When combining aggregate functions with WHERE, you get a powerful tool that allows you to get more granular with your insights, for example, to get the total budget of movies made from the year 2010 onwards.

This combination is useful when you only want to summarize a subset of your data. In your film-industry role, as an example, you may like to summarize each certification category to compare how they each perform or if one certification has a higher average budget than another.

Let's see what insights you can gain about the financials in the dataset.

Use SUM() to calculate the total gross for all films made in the year 2000 or later, and use the alias total_gross.

In [ ]:
SELECT SUM(gross) AS total_gross
FROM films
WHERE release_year >= 2000;

Calculate the average amount grossed by all films whose titles start with the letter 'A' and alias with avg_gross_A.

In [ ]:
SELECT AVG(gross) AS avg_gross_A
FROM films
WHERE title LIKE 'A%';


Calculate the lowest gross film in 1994 and use the alias lowest_gross.

In [ ]:
SELECT MIN(gross) AS lowest_gross
FROM films
WHERE release_year = 1994;