### Learning to COUNT()
You saw how to use COUNT() in the video. Do you remember what it returns?

Here is a query counting film_id. Select the answer below that correctly describes what the query will return.

SELECT COUNT(film_id) AS count_film_id
FROM reviews;
Run the query in the console to test your theory!

#### The number of records containing a film_id

### Practice with COUNT()
As you've seen, COUNT(*) tells you how many records are in a table. However, if you want to count the number of non-missing values in a particular field, you can call COUNT() on just that field.

Let's get some practice with COUNT()! You can look at the data in the tables throughout these exercises by clicking on the table name in the console.

Count the number of records in the people table, aliasing the result as count_records.

In [ ]:
-- Count the number of records in the people table
SELECT COUNT(*) AS count_records
FROM people;

Count the number of records with a birthdate in the people table, aliasing the result as count_birthdate.

In [ ]:
-- Count the number of birthdates in the people table
SELECT COUNT(birthdate) AS count_birthdate
FROM people;


Count the languages and countries in the films table; alias as count_languages and count_countries.

In [ ]:
-- Count the languages and countries represented in the films table
SELECT COUNT(language) AS count_languages, COUNT(country) AS count_countries
FROM films;

### SELECT DISTINCT
Often query results will include many duplicate values. You can use the DISTINCT keyword to select the unique values from a field.

This might be useful if, for example, you're interested in knowing which languages are represented in the films table. See if you can find out what countries are represented in this table with the following exercises.


Return the unique countries represented in the films table using DISTINCT.

In [ ]:
-- Return the unique countries from the films table
SELECT DISTINCT country
FROM films;


Return the number of unique countries represented in the films table, aliased as count_distinct_countries.

In [ ]:
-- Count the distinct countries from the films table
SELECT COUNT(DISTINCT country) AS count_distinct_countries
FROM films;

### Using WHERE with numbers
Filtering with WHERE allows you to analyze your data better. You may have a dataset that includes a range of different movies, and you need to do a case study on the most notable films with the biggest budgets. In this case, you'll want to filter your data to a specific budget range.

Now it's your turn to use the WHERE clause to filter numeric values!

1
Select the film_id and imdb_score from the reviews table and filter on scores higher than 7.0.

In [ ]:
-- Select film_ids and imdb_score with an imdb_score over 7.0
SELECT film_id, imdb_score
FROM reviews
WHERE imdb_score > 7.0;

Select the film_id and facebook_likes of the first ten records with less than 1000 likes from the reviews table.

In [ ]:
-- Select film_ids and facebook_likes for ten records with less than 1000 likes 
SELECT film_id, facebook_likes
FROM reviews
WHERE facebook_likes < 1000
LIMIT 10;

Count how many records have a num_votes of at least 100,000; use the alias films_over_100K_votes.

In [ ]:
-- Count the records with at least 100,000 votes
SELECT COUNT(*) AS films_over_100K_votes
FROM reviews
WHERE num_votes >= 100000;

### WHERE can also filter string values.

Imagine you are part of an organization that gives cinematography awards, and you have several international categories. Before you confirm an award for every language listed in your dataset, it may be worth seeing if there are enough films of a specific language to make it a fair competition. If there is only one movie or a significant skew, it may be worth considering a different way of giving international awards.

Let's try this out!

Select and count the language field using the alias count_spanish.

Apply a filter to select only Spanish from the language field.

In [ ]:
-- Count the Spanish-language films
SELECT COUNT(language) AS count_spanish
FROM films
WHERE language = 'Spanish';

#### Using AND
The following exercises combine AND and OR with the WHERE clause. Using these operators together strengthens your queries and analyses of data.

You will apply these new skills now on the films database.

Select the title and release_year for all German-language films released before 2000.

In [ ]:

SELECT title, release_year
FROM films
WHERE release_year < 2000
	AND language = 'German';

Update the query from the previous step to show German-language films released after 2000 rather than before.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year > 2000
	AND language = 'German';

Select all details for German-language films released after 2000 but before 2010 using only WHERE and AND.

In [ ]:
SELECT *
FROM films
WHERE release_year > 2000 AND release_year < 2010
	AND language = 'German';

### Using OR
This time you'll write a query to get the title and release_year of films released in 1990 or 1999, which were in English or Spanish and took in more than $2,000,000 gross.

It looks like a lot, but you can build the query up one step at a time to get comfortable with the underlying concept in each step. Let's go!

Select the title and release_year for films released in 1990 or 1999 using only WHERE and OR.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year = 1990 
OR release_year = 1999;

Filter the records to only include English or Spanish-language films.

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
-- Add a filter to see only English or Spanish-language films
	AND(language = 'English' OR language = 'Spanish');

Finally, restrict the query to only return films worth more than $2,000,000 gross.

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
	AND (language = 'English' OR language = 'Spanish')
	AND gross > 2000000;

### Using BETWEEN
Let's use BETWEEN with AND on the films database to get the title and release_year of all Spanish-language films released between 1990 and 2000 (inclusive) with budgets over $100 million.

We have broken the problem into smaller steps so that you can build the query as you go along!

Select the title and release_year of all films released between 1990 and 2000 (inclusive) using BETWEEN.

In [ ]:
SELECT title, release_year
FROM films
WHERE (release_year BETWEEN 1990 AND 2000)

Build on your previous query to select only films with a budget over $100 million.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000;

Now, restrict the query to only return Spanish-language films.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000
	AND language = 'Spanish';

Finally, amend the query to include all Spanish-language or French-language films with the same criteria.

In [ ]:
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000
	AND (language = 'Spanish' OR language = 'French');